{# Poster image is optional #}
<video class="video-js" poster={{ file_url(content.field_videojs_poster_image['#items'].entity.uri.value) }} data-setup='{"techOrder": ["html5", "youtube"], "fluid": true, "controls": true}'>

{# mp3#}
{% if content.field_videojs_local_audio_file or content.field_videojs_remote_audio_file %}

<source src={{ file_url(content.field_videojs_local_audio_file[0]['#media'].field_videojs_local_audio_file.entity.uri.value) }} {{ file_url(content.field_videojs_remote_audio_file[0]['#context'].value) }} type="audio/mpeg">

{% endif %}

{# mp4 #}
{% if content.field_videojs_media_file or content.field_videojs_remote_media_file %}

<source src={{ file_url(content.field_videojs_media_file[0]['#media'].field_media_video_file.entity.uri.value) }} {{ file_url(content.field_videojs_remote_media_file[0]['#context'].value) }} type="video/mp4">

{% endif %}

{# YouTube #}
{% if content.field_videojs_youtube %}

<source src={{ content.field_videojs_youtube[0]['#context'].value }} type="video/youtube">

{% endif %}

{# Closed-captions, subtitles #}
{% if content.field_videojs_subtitle or content.field_videojs_remote_audio_file %}

<track kind="captions" src={{ file_url(content.field_videojs_subtitle['#items'].entity.uri.value) }} srclang="en" label="English" default>

{% endif %}

</video>
